
#container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.country{

    padding: 20px;
    border: 1px solid rgb(86, 153, 172);
    border-radius: 20px;
    background-color: rgb(215, 234, 255);
    text-align: center;
    width: 300px;
}
.country:hover{
    background-color: rgb(253, 128, 138) ;
}
.country-name{
    font-size: 30px;
    color:rgb(59, 59, 59);
}